<div class="container-fluid footer mt-3 pt-2">
        <div class="row d-flex justify-content-center">
          <div>
            <img src="{{'assets/img/logobig.png'|theme}}" class="logoBig" alt="logo">
          </div>
  
          <div class="ml-5">
            <address>
              <sapn class="contacts-header">Наші контакти</sapn>
                <ul class="address-list">
                  <li>
                    <strong>Адреса:</strong>&#8194вул. Івана Ступака, 1а, оф. 6</li>
                  <li>
                    <strong>Телефон Lifecell:</strong>&#8194&#8194+380 93 307 37 37 </li>
                  <li>
                    <strong>Телефон Kyivstar:</strong>&#8194+380 68 307 37 37 </li>
                  <li>
                    <strong>e-mail:</strong>&#8194 info@xat.net.ua</li>
                </ul>
            </address>
          </div>
        </div>
      </div>
      <div class="row text-center copyright">
        <div class="col">
          <p class="m-auto">&copy Copyright <span class="currentYear">2018</span>  - XAT.NET Усі права захищені</p>
        </div>
      </div>