==
<nav class="navbar  navbar-expand-md navbar-dark pt-3 px-3 fixed-top">
  <a class="navbar-brand"  href="{{'home'|page}}">
    <img src="{{'assets/img/logo_white.png'|theme}}"alt="xat.net.ua">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto" role="tablist">
      <li class="nav-item">
        <a id="li-home" class="nav-link" href="{{'home'|page}}">
          <i class="fas fa-home fa-lg" style="margin-right: 5px;"></i>Головна</a>
      </li>
      <li class="nav-item dropdown">
        <a id="li-servicces" class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#services">
          <i class="far fa-handshake fa-lg" style="margin-right: 5px;"></i>Послуги</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{'plans'|page}}">Тарифи</a>
            <a class="dropdown-item" href="{{'videosystem'|page}}">Системи-відеоспостереження</a>
            <a class="dropdown-item" href="{{'it-autsorsing'|page}}">ІТ-аутсорсинг</a>
            <a class="dropdown-item" href="{{'system_integration'|page}}">Системна інтеграція</a>
          </div>
      </li>
      <li class="nav-item">
        <a id="li-contacts" class="nav-link" href="#foot">
          <i class="far fa-address-book fa-lg" style="margin-right: 5px;"></i>Контакти</a>
      </li>
      <li class="nav-item">
        <a id="li-documents" class="nav-link" href="{{'docs'|page}}">
          <i class="far fa-file-alt fa-lg" style="margin-right: 5px;"></i>Документи</a>
      </li>
      <li class="nav-item">
        <a id="li-map" class="nav-link"href="{{'map'|page}}">
          <i class="far fa-map fa-lg" style="margin-right: 5px;"></i>Карта покриття</a>
      </li>
      <li class="nav-item">
        <a id="li-account" class="nav-link" href="https://my.xat.net.ua/cgi-bin/stat.pl">
          <i class="far fa-user fa-lg" style="margin-right: 5px;"></i>Особистий кабінет</a>
      </li>
    </ul>
  </div>
</nav>