==
<?php
function onSend()
{
    // Collect input
    $name = post('usrName');
    $usrtel = post('usrtel');
    $msg = post('message');

    // Form Validation
  /*  $validator = Validator::make(
        [
            'name' => $name,
            'usrtel' => $usrtel,
        ],
        [
            'name.required'=>'We need to know your e-mail address!',
            'subject' => 'required',
        ]
    );

    if ($validator->fails())
    {
        $messages = $validator->messages();
        throw new ApplicationException($messages->first());
    }
      $name = trim($name);
      $usrtel=trim($usrtel);
      $msg=trim($msg);
      
      $name = htmlspecialchars($name);
      $usrtel=htmlspecialchars($usrtel);
      $msg=htmlspecialchars($msg);
    
      $name = urldecode($name);
      $usrtel=urldecode($usrtel);
      $msg=urldecode($msg);
    */
      

    // All is well -- Submit form
   // $to = System\Models\MailSettings::get('sender_email');
    $params = compact('name','usrtel','msg');
    Mail::sendTo('vergran@gmail.com', 'myappname.website::mail.contactform', $params);
    return true;
}
?>
==
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{this.page.title}}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
       
    <link href="{{ [
        'assets/css/bootstrap.min.css',
        'assets/css/animate.css',
        'assets/web-fonts-with-css/css/fontawesome-all.min.css',
        'assets/css/fonts.css',
        'assets/css/style.css'
    ]|theme }}" rel="stylesheet">
      {% styles %}
  <!-- <script src="https://www.google.com/recaptcha/api.js" defer></script>  -->
  
</head>

<body   data-offset="0">
<div id="loaderArea">
        <img class="loader" src="{{'assets/img/preload.png'|theme}}" alt="loading">
</div>
    {% partial "navbar" %}
    {%page%}
  
    <footer class="footer" id="foot">
            {% partial "footer" %}
    </footer>
    
    <script src="{{ ['assets/scripts/jquery-3.3.1.min.js',
    'assets/scripts/popper.min.js',
    'assets/scripts/bootstrap.min.js',
    'assets/scripts/wow.min.js',
    'assets/scripts/script.js',
    'assets/scripts/form.js',
    ]|theme }}"></script>
     {% placeholder photoswipe %}
     {% framework %}
     {% scripts %}
</body>

</html>